<!-- Copyright (C) 2017 Chris Tarazi  -->

<!-- This program is free software: you can redistribute it and/or modify  -->
<!-- it under the terms of the GNU General Public License as published by  -->
<!-- the Free Software Foundation, either version 3 of the License, or  -->
<!-- (at your option) any later version.  -->

<!-- This program is distributed in the hope that it will be useful,  -->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of  -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the  -->
<!-- GNU General Public License for more details.  -->

<!-- You should have received a copy of the GNU General Public License  -->
<!-- along with this program.  If not, see <http://www.gnu.org/licenses/>.  -->

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UCL Draw Simulator</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/pure-min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/grids-responsive-min.css">
</head>
<body>
<style>
	/*
	 * -- BASE STYLES --
	 */
	body {
		line-height: 1.7em;
		font-size: 13px;
	}

	table {
		margin-bottom: 10px;
		text-align: center;
	}

	pre {
		white-space: pre-wrap;
	}

	/*
	 * -- MENU STYLES --
	 * I want to customize how my .pure-menu looks at the top of the page
	 */
	.home-menu {
		padding: 0.5em;
		text-align: center;
		box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
	}

	.home-menu {
		background: #2d3e50;
	}

	.pure-menu.pure-menu-fixed {
		/* Fixed menus normally have a border at the bottom. */
		border-bottom: none;
		z-index: 4;
	}

	.home-menu .pure-menu-heading {
		color: white;
		font-weight: 400;
		font-size: 120%;
	}

	.home-menu .pure-menu-selected a {
		color: white;
	}

	.home-menu a {
		color: #6FBEF3;
	}

	.home-menu li a:hover,
	.home-menu li a:focus {
		background: none;
		border: none;
		color: #AECFE5;
	}

	.pure-table thead {
		text-align: center;
	}

	/*
	 * -- TABLET (AND UP) MEDIA QUERIES --
	 * On tablets and other medium-sized devices, we want to customize some
	 * of the mobile styles.
	 */
	@media (min-width: 48em) {

		/* We increase the body font size */
		body {
			font-size: 16px;
		}
		/* We want to give the content area some more padding */
		.main {
			padding: 1em;
		}

		/* We can align the menu header to the left, but float the
		   menu items to the right. */
		.home-menu {
			text-align: left;
		}
		.home-menu ul {
			float: right;
		}
	}

	@media (max-width: 425px) {

		.home-menu {
			font-size: 85%
		}
	}
</style>
<style scoped>
    .button-success,
    .button-error,
    .button-warning,
    .button-secondary {
		color: white;
		border-radius: 4px;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	}

    .button-success {
		background: rgb(28, 184, 65); /* this is a green */
    }

    .button-error {
		background: rgb(202, 60, 60); /* this is a maroon */
    }

    .button-warning {
		background: rgb(223, 117, 20); /* this is an orange */
    }

    .button-secondary {
		background: rgb(66, 184, 221); /* this is a light blue */
    }
</style>
<style>
	.header {
		display: inline-block;
	}

	.main {
		padding: 2em;
		color: black;
	}
</style>
<div class="content">

<div class="header">
	<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
		<a class="pure-menu-heading" href="{{ url_for('index') }}">UCL Draw</a>
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="{{ url_for('count') }}" title="How many possible outcomes are there?" class="pure-menu-link">Possible outcomes?</a></li>
			<li class="pure-menu-item"><a href="{{ url_for('index') }}" class="pure-menu-link">Home</a></li>
			<li class="pure-menu-item"><a href="https://github.com/christarazi/ucl_draw" class="pure-menu-link">GitHub</a></li>
		</ul>
	</div>
</div>

<div class="main">
<h2>UCL Round of 16 2019-2020 Draw Simulator</h2>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class=flashes>
			{% for message in messages %}
			<p class="button-error pure-button">{{ message }}</p>
			{% endfor %}
		</div>
	{% endif %}
{% endwith %}
{% block body %}{% endblock %}
</div>

</div>
</body>
</html>

